footer
    script(src="lib/build.js")
    script(src="js/Boot.js")
    script(src="js/Preloader.js")
    script(src="js/MainMenu.js")
    script(src="js/Game.js")
    script(src="js/GameLost.js")
    script(src="js/GameWon.js")